<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout de personnage</title>
</head>
<body>
<form method="post">
    <input type="text" name="name" placeholder="Nom"><br>
    <input type="number" name="level" placeholder="Niveau"><br>
    <input type="number" name="stats.defense" placeholder="Armure"><br>
    <input type="number" name="stats.force" placeholder="Force"><br>
    <input type="number" name="stats.intelligence" placeholder="Intelligence"><br>
    <input type="number" name="stats.endurance" placeholder="Endurance"><br>
    <input type="number" name="stats.agilite" placeholder="Agilite"><br>
    <input type="number" name="stats.critique" placeholder="Critique"><br>
    <input type="submit">
</form>
</body>
</html>